doctype html
html(style="height: 100%")
  head
    title= title
  body(style="display: flex; justify-content: center; height: 100%")
    iframe( style="width: 45%; height: 100%, margin-left: 10px;" src="https://http-load-images.herokuapp.com" title="HTTP/1.x")
    iframe( style="width: 45%; height: 100%, margin-left: 10px;" src="https://localhost:3000" title="HHTP/2")
     